<div class="well col-md-6">
  <h2>Call Function</h2>
  <br>

  <%= form_for :api_call, remote: true, url: '/function', html: {id: "function_call"} do |f| %>
    <%= f.label :access_token, "Access Token" %>
    <%= f.text_field :access_token, class: "form-control" %>

    <br>

    <%= f.label :core_id, "Core ID" %>
    <%= f.text_field :core_id, class: "form-control" %>

    <br>

    <%= f.label :name, "Function Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <br>

    <%= f.label :argument, "Function Argument" %>
    <%= f.text_field :argument, class: "form-control" %>

    <br>
    <br>

    <div class="input-group">
      <span class="input-group-btn">
        <%= f.submit "Execute", class: 'btn btn-primary' %>
      </span>
      <%= f.text_field :results, placeholder: "Results...", class: "form-control", disabled: true, id: "function_call_results" %>
    </div>
  <% end %>
</div>

<div class="well col-md-6">
  <h2>Retrieve Variable</h2>
  <br>

  <%= form_for :api_call, remote: true, url: '/variable', html: {id: "retrieve_variable"} do |f| %>
    <%= f.label :access_token, "Access Token" %>
    <%= f.text_field :access_token, class: "form-control" %>

    <br>

    <%= f.label :core_id, "Core ID" %>
    <%= f.text_field :core_id, class: "form-control" %>

    <br>

    <%= f.label :name, "Variable Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <br>
    <br>

    <div class="input-group">
      <span class="input-group-btn">
        <%= f.submit "Execute", class: 'btn btn-primary' %>
      </span>
      <%= f.text_field :results, placeholder: "Results...", class: "form-control", disabled: true, id: "retrieve_variable_results" %>
    </div>
  <% end %>
</div>
